*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    background-color: rgb(237, 96, 96);
}

.side-bar{
    background: rgba(255, 255, 255, 0.1);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.side-bar .menu{
    width: 100%;
    margin-top: 80px;
}

.side-bar .menu .item{
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
    font-size: 16px;
}

.side-bar .menu .item a:hover{
    background: rgba(40, 185, 40, 0.898);
    transition: 0.3s ease;
}

.side-bar .menu .item i{
    margin-right: 15px;
}

.side-bar .menu .item .sub-menu{
    background: rgba(255, 255, 255, 0.1);
    display: none;
}

.side-bar .menu .item .sub-menu a{
    padding-left: 80px;
}
